<div class='row'>
  {{#each plainCart}}
    <div class='col-md-3'>
      <div class='card'>
        <img class='card-img-top' src={{product.thumbnails}} alt='producto' />
        <div class='card-body'>
          <h2 class='card-title'>{{product.title}}</h2>
          <p class='card-text'>{{product.description}}</p>
          <p class='card-text'>ID: {{product._id}}</p>
          <p class='card-text'>Código: {{product.code}}</p>
          <p class='card-text'>Precio: ${{product.price}}</p>
          <p class='card-text'>Cantidad: {{quantity}}</p>
        </div>
      </div>
      <button class='deleteToCart' data-productid='{{product._id}}'>Eliminar del carrito</button>
    </div>
  {{/each}}
</div>

<div>
  {{#each cartId}}
    <button class='deleteCart' data-cartid='{{this}}'>Eliminar carrito {{this}}</button>
  {{/each}}
</div>

<script type='module' src='/js/cart.js'></script>